###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto encoding=UTF-8
*.sh text eol=lf
# Always use LF for Go files to avoid CRLF issues with golangci-lint.
*.go text eol=lf
