# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

# This job tests that the install script in PowerShell works as expected when
# actually downloading the Microsoft build of Go, not only just running the unit tests.

name: install-script-pwsh-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - windows-2022
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      # Intentionally get upstream Go. This allows us to run install script
      # tests and see results even if the Microsoft build of Go install process breaks.
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Test with download
        working-directory: goinstallscript
        run: go test -v ./... -download
